*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background-color:sienna;
    font-family: 'Playfair Display', serif;
}

.menu{
    float: right;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

.menu li a:hover{
    border-bottom: 3px solid #ddd7cc;
}

footer{
    padding: 10px;
    text-align: center;
    background-color:sienna;
    font-family: 'Playfair Display', serif;
}

.logo{
    color: cornsilk;
    float: left;
    margin-left: 15px;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
}

html, body{
    height: 100%;
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../imgs/manaus-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
}

.descricao{
    margin:20px;
    font-size: 18px;
    text-align: center;
}

iframe {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 30px auto;
  }

span{
    font-weight: bold;
}

.descricao-div{
    margin: 40px;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    border-radius: 10px;
}

.curious-div{
    margin: 40px;
    padding:10px;
    width: 640px;
    margin:auto;
    border-radius: 10px;
}

.curious{
    color:white;
    text-shadow: 3px 2.5px black;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    font-weight: bold;
    font-size: 24px;
}

.curiosidades ul{
    list-style: none;
    max-width: 800px;
    max-height: 320px;
    margin: 0 auto;
    padding: 20px 50px;
    color:black;
    font-family: 'Roboto', sans-serif;
    background-color: #ddd7cc;
    max-width: 800px;
    text-align: center;
    line-height: 1.4;
}


footer {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

.app{
    height: 30px;
    width: 30px;
}

/* Início CSS Contato */

.contato{
    margin-bottom:30px;
}

form{
    margin: 40px;
    padding:10px;
    font-weight: 600;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    padding: 10px 25px;
    width: 50%;
    text-align: center;
}

.input-padrao:hover {
    transform: scale(1.02)
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

option{
    text-align: center;
}

.maiorIdade{
    display:flex;
    justify-content:space-around;
    margin:auto;
    width: 45vw;
}

.pontoTuristico{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:auto;
    width: 45vw;
}

.pontoTuristico label{
    margin: 20px 20px 0px 5px;
}

.interesse{
    display:flex;
    justify-content:space-around;
    margin:auto;
    width: 45vw;
}

.checkbox {
    margin: 20px 0;
}

.enviar{
    width: 10vw;
    padding: 15px 0;
    background: cornsilk;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: 1s;
    cursor: pointer;
}

.enviar:hover{
    background: #b5ffbe ;
    color:black;
}

.cancelar{
    width: 10vw;
    margin-left: 40px;
    padding: 15px 0;
    background: cornsilk;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: 1s;
    cursor: pointer;
}

.cancelar:hover{
    background:#ffcccb;
    color:black;
}

/* Início CSS Pontos Turísticos */

.turismo{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.turismo li{
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.7);
}

.turismo p{
    font-size: 14px;
    font-weight:600;
}

.turismo img{
    width: 200px;
}

.turismo li:hover {
    border-color: #c78c19;
}    


.turismo h2{
    font-size: 30px;
    font-weight: bold;
}

.ponto-descricao{
    font-size: 18px;
}

.ponto-endereço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}